/*
Name: Justin Buss
File: cool-box.css
Date: 14 Febuary 2025
Date last Modified: 14 Febuary, 2025
Description: Lab 3 Part 2 style for a cool box
*/

html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
  